<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1" class=""></li>
            <li data-target="#main-carousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="first slide" src="serco-education-illustration-footer.png">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Washington News</h1>
                        <p>Take a Brief</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Second slide" src="neverstoplearning.jpg" height="100">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Never Stop Learning</h1>
                        <p>Learning is so funy</p>
                        <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img alt="Third slide" src="hei_-_option_4.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Just Do It.</h1>
                        <p>Wanto to learnt more</p>
                        <p><a class="btn btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</body>
</html>