<div class="row">
    <div class="col-md-4" id="col-1">
        <img alt="online classes" src='class-room.png' class="center-block">
        <h2 class="text-center">Live Classes</h2>

    </div>
    <div class="col-md-4" id="col-2">
        <img alt="flexible shedule" src="shedule.png" class="center-block">
        <h2 class="text-center">Flexible Schedule</h2>

    </div>
    <div class="col-md-4" id="col-3">
        <img src="support24-7.png" alt="third image" class="center-block">
        <h2 class="text-center">24*7 support</h2>

    </div>


</div>