<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
     
    <nav class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#primary-menu" data-toggle="collapse">
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </button>
                <div class="navbar-brand">
                    HOME !
                </div>
            </div>
            <div class="collpase navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#">Sports</a> </li>
                   
                    <!--
                  <li><a href="courses.html"> Courses</a> </li>-->
                    <li><a href="#"> About US</a> </li>
                    
                    <li><a href="/sports"> Contact US</a> </li>
                    <li><a href="/adminlog"> Admin Login</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br><br>

  
<div class="container">
    <h2 class="text-center">Add News</h2>
    <form action="/addadvertise" method="POST">
      <div class="form-group">
        <label for="email">Title:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter title" name="email" required>
      </div>
      <div class="form-group">

        <label for="desc">Description:</label>
        <input type="text" class="form-control" id="decrip" placeholder="Enter description" name="decrip" required>
      </div>
      <div class="form-group">
        <label for="url">URL:</label>
        <input type="text" class="form-control" id="myurl" placeholder="Enter ad URL" name="myurl" required>
      </div>
      <div class="form-group">
        <label for="urlimage">URL to IMAGE:</label>
        <input type="text" class="form-control" id="imageurl" placeholder="Enter Image URL" name="imageurl" required>
      </div>
      <div class="form-group">
        <label for="publ">Published At:</label>
        <input type="text" class="form-control" id="publish" placeholder="Enter Publication" name="publish" required>
      </div>

      <!--

     
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
 -->

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  
        
</body>
</html>